/* Define the breakpoint values for headings */

:root {
	--line-height-factor: 1.3;
	--tw-font-head: "headFont";

	--tw-h1: 2.2rem;
	--tw-h2: 2rem;
	--tw-h3: 1.8rem;
	--tw-h4: 1.6rem;
	--tw-h5: 1.4rem;
	--tw-h6: 1.2rem;

	--tw-lh-h1: calc(var(--tw-h1) * var(--line-height-factor));
	--tw-lh-h2: calc(var(--tw-h2) * var(--line-height-factor));
	--tw-lh-h3: calc(var(--tw-h3) * var(--line-height-factor));
	--tw-lh-h4: calc(var(--tw-h4) * var(--line-height-factor));
	--tw-lh-h5: calc(var(--tw-h5) * var(--line-height-factor));
	--tw-lh-h6: calc(var(--tw-h6) * var(--line-height-factor));

	@screen sm {
		--tw-h1: 2.3rem;
		--tw-h2: 2.1rem;
		--tw-h3: 1.9rem;
		--tw-h4: 1.7rem;
		--tw-h5: 1.5rem;
		--tw-h6: 1.3rem;
	}

	@screen md {
		--tw-h1: 2.4rem;
		--tw-h2: 2.2rem;
		--tw-h3: 2rem;
		--tw-h4: 1.8rem;
		--tw-h5: 1.6rem;
		--tw-h6: 1.4rem;
	}

	@screen lg {
		--tw-h1: 2.5rem;
		--tw-h2: 2.3rem;
		--tw-h3: 2.1rem;
		--tw-h4: 1.9rem;
		--tw-h5: 1.7rem;
		--tw-h6: 1.5rem;
	}

	@screen xl {
		--tw-h1: 2.6rem;
		--tw-h2: 2.4rem;
		--tw-h3: 2.2rem;
		--tw-h4: 2rem;
		--tw-h5: 1.8rem;
		--tw-h6: 1.6rem;
	}

	@screen 2xl {
		--tw-h1: 2.7rem;
		--tw-h2: 2.5rem;
		--tw-h3: 2.3rem;
		--tw-h4: 2.1rem;
		--tw-h5: 1.9rem;
		--tw-h6: 1.7rem;
	}

	/* Apply the styles to headings */
	h1 {
		font-size: var(--tw-h1);
		line-height: var(--tw-lh-h1);
	}

	h2 {
		font-size: var(--tw-h2);
		line-height: var(--tw-lh-h2);
	}

	h3 {
		font-size: var(--tw-h3);
		line-height: var(--tw-lh-h3);
	}

	h4 {
		font-size: var(--tw-h4);
		line-height: var(--tw-lh-h4);
	}

	h5 {
		font-size: var(--tw-h5);
		line-height: var(--tw-lh-h5);
	}

	h6 {
		font-size: var(--tw-h6);
		line-height: var(--tw-lh-h6);
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: var(--heading-font-weight);
		font-family: var(--font-heading);
		color : var(--heading-font-color);
	}

	.emogi {
		font-size: var(--tw-h4);
		line-height: calc(var(--tw-h5) * 1.4);
	}
}
