.tab-switcher + .single-tab {
	display: none;
}

@screen sm {
	.prismjs {
		&:hover > .ctc {
			visibility: visible;
		}
		.ctc {
			visibility: hidden;
		}
	}
}

.blockquote,
.p,
.code {
	margin-bottom: 2rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: 1.8rem;
	margin-bottom: 1.5rem;
}

// very first child of remote content.

.remote-content > *:first-child {
	margin-top: 0;
}

.mermaid svg {
	margin: auto;
}

table {
	width: 100%;
	//border-collapse: collapse;
	border: 2px solid var(--dev-text-color6);
	border-radius: 8px; // Added border radius

	th,
	td {
		border: 2px solid var(--dev-text-color6);
		padding: 0.5rem;
		border-radius: 15px;
	}
}

.edgeLabel {
	background-color:  var(--dev-text-color6) !important;;
	padding: 4px 8px !important;
	border-radius: 7.5px !important;
}

.labelBkg {
	background-color: transparent !important;
} 

.edgePaths .relation {
	color: var(--dev-text-color7) !important;
	stroke-width: 2px !important;
	stroke: var(--code-color-1) !important;
}
